.blur {
    filter: blur(100px) opacity(0);
}

.full-screen {
    min-height: 100vh;
    width: 100vw;
}

.full-screen.reduce {
    width: 50vw;
}

.full-screen.fixed {
    height: 100vh;
}

.grid {
    display: grid;
}

.center-items {
    display: grid;
}

.h-center {
    justify-content: center;
}
.v-center-collapsed {
    align-content: center;
}

.v-center-spread {
    align-items: center;
}

.margin-v25px {
    margin-top:25px;
    margin-bottom: 25px;
}

.margin-auto {
    margin:auto;
}

.margin-h-auto {
    margin-left: auto;
    margin-right: auto;
}

.icon {
    width: auto;
    margin: auto;
}
.margin-bottom-negative-50 {
    margin-bottom: -50px;
}

.margin-v75px {
    margin-top: 75px;
    margin-bottom: 75px;
}

.margin-v25px {
    margin-top: 25px;
    margin-bottom: 25px;
}

.margin-bottom-75px {
    margin-bottom: 75px;
}

.margin-top-75px {
    margin-top: 75px;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.invert-color {
    filter: invert(1);
}

.v-scrollable-container {
    max-height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.scroll {
    overflow-y: auto
}

.capsule {
    max-width: 160px;
    min-height: 36px;
    line-height: 36px;
    border-radius: 20px;
}

.bg-yellow {
    background: #e2b123;
    color: white;
}

.bg-gray {
    background: gray;
}

.margin-10 {
    margin: 10px;
}

.img-fluid {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

img.full-height {
    height: 100%;
    width: auto;
}

.side-swirls::before {
    content: url("../images/swirl-left.png");
    margin-right: 15px;
}
.side-swirls::after {
    content: url("../images/swirl-right.png");
    margin-left: 15px;
}

button.slideUp {
    background: linear-gradient(transparent 50%, #e2b123  50%);
    background-size: 100% 200%;
    background-position-y: 0%;
    transition: background-position-y 0.2s ease-in-out;
}

.padding-10 {
    padding: 10%;
    box-sizing: border-box;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}
button.slideUp:hover {
    background-position-y: 100%;
}

button.transparent {
    border: 1px solid white;
    color: white;
    width: 121px;
    text-shadow: 0px 0px 5px black;
}

.pointer {
    cursor: pointer;
}

.overflow-hidden {
    overflow: hidden;
}

.absolute-center {
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.translucent-white-bg {
    background-color: rgba(255, 255, 255, 0.85);
}


.inline-grid {
    display: inline-grid;
}

.inline-block {
    display: inline-block;
}

.z-1 {
    z-index: 1;
}

.col-1 {
    grid-template-columns: 100%;
}

.col-2 {
    grid-template-columns: auto auto;
}

.col-3 {
    grid-template-columns: auto auto auto;
}

.col-4 {
    grid-template-columns: auto auto auto auto;
}

.row-2 {
    grid-template-rows: auto auto;
}

.row-3 {
    grid-template-rows: auto auto auto;
}

.subtitle {
    margin:auto;
}

.no-margin {
    margin:0;
}

.fixed {
    position: fixed;
}

a.button {
    text-decoration: none;
    display: inline-grid;
    text-align: center;
    align-items: center;
}

.grid-gap-40px {
    grid-gap: 40px;
}

.height-500px {
    height: 500px;
}

.transition {
    transition-duration: 1.5s;
    transition-timing-function: ease-in-out;
}

.transition-tranform {
    transition-property: transform;
}

.transition-fast {
    transition-duration: 0.2s;
}

.transition-slow {
    transition-duration: 0.4s;
}

.spread {
    height: 100%;
    width: 100%;
}

@media only screen and (max-width:1024px) {
    .full-screen.reduce {
        width: 100vw;
    }

    .col-3, .col-2 {
        grid-template-columns: 100%;
    }

    .xs-hide {
        display: none;
    }

    .xs-no-vmargin {
        margin-top: inherit;
        margin-bottom: inherit;
    }

    .xs-no-margin-bottom {
        margin-bottom: inherit;
    }
}