/* Overriding FlipClock CSS */
.flip-clock-label {
    top: 12em;
    color: #e2b123;
    font-size: 0.7rem;
}

.flip-clock {
    font-size: 0.8rem;
    margin-left: auto;
    margin-right: auto;
}

.flip-clock .flip-clock-group .flip-clock-list .flip-clock-list-item-inner > .top, .flip-clock .flip-clock-group .flip-clock-list .flip-clock-list-item-inner > .bottom {
    color: #e2b123;
    background: white;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* Maybe create a JS listener for resizing and size the font-size for the clock accordingly */
@media only screen and (max-width: 1215px) {
    .flip-clock {
        font-size: 0.65rem;
    }
}

@media only screen and (max-width:1024px) {
    .flip-clock {
    font-size: 0.5rem;
    }
}

@media only screen and (max-width: 400px) {
    .flip-clock {
        font-size: 0.4rem;
    }
}