button.gray { /* Fix the name of this amount button */
    border: none;
    color: white;
    font-size: 1.1rem;
    background: gray;
    width: 95%;
    max-width: 600px;
}

button.floatUp {
    transition: all 0.2s ease-in-out;
}

button.floatUp:hover {
    transform: translateY(-5px);
}
