main {
    grid-column-start: 2;
    grid-row-start: 2;
}

.main-layout {
    grid-template-rows: 50px auto;
    grid-template-columns: 20% auto 20%;
    transition: width 0.5s ease-in-out
}














.icon.height-150px {
    height: 150px;
}

































/* TODO:
1) Create common sizing for icons
2) Create common middle attribute for absolute elements - top, buttom, left, right, margin, etc.
3) Common value for transition speed all
4) Create a separate CSS file for each overriden external library element.
*/


@media only screen and (max-width:1815px) {
    .main-layout {
        grid-template-columns: 5% auto 5%;
    }

    span.font-size-huge {
        font-size: 3rem;
    }

    .social-icon {
        width: 30px !important;
        height: 30px !important;
    }
}
/* Maybe create a JS listener for resizing and size the font-size for the clock accordingly */
@media only screen and (max-width: 1215px) {
    .flip-clock {
        font-size: 0.65rem /* !important */;
    }

    .description-image {
        margin: auto !important;
    }
}

@media only screen and (max-width: 915px) {
    .flip-clock {
        font-size: 0.6rem /* !important */;
    }
}