
.modal {
    background-color: rgba(255, 255, 255, 0.95);
    grid-template-rows: 100px auto;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 5;
    justify-content: center;
}
.modal img {
    max-height: calc(100vh - 200px);
    margin:auto;
    transition: all 0.4s ease-in-out;
}

.modal.closed {
    transform: scale(0);
}
