
.modal {
    background-color: rgba(255, 255, 255, 0.95);
    grid-template-rows: 100px auto;
    overflow: hidden;
    z-index: 5;
    justify-content: center;
}
.modal img {
    max-height: calc(100vh - 200px);
    width: auto;
    margin:auto;
}

.modal.closed {
    transform: scale(0);
}
