nav.sidebar {
    grid-auto-flow: column;
    grid-column-gap: 5%;
    height: auto;
    position: sticky;
    padding: 3%;
    width: 94%;
    transition-property: background;
}

nav.sidebar.lighter {
    background: rgba(255, 255, 255, 0.9);
}

@media only screen and (max-width: 450px) {
    nav.sidebar {
        grid-auto-flow: row;
    }
}