.sidebar {
    height: 100vh;
    width: 35vw;
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(0, 0, 0);
}

.description-image {
    height: 250px;
    width: 250px;
}

.description-image>img {
    position: absolute;
    transition: transform 0.2s ease;
    height: auto;
    width: inherit;
    transition: transform 0.2s ease;
}

.description-image:hover .description-image>img {
    transform: scale(1.3);
}

#happy-couple {
    grid-template-columns: auto 10% auto;
    grid-template-rows: auto;
}