.tab {
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: white;
}

.tab:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 5px rgb(198, 198, 198);  
}

.tab.active {
    color: white;
    background-color: #e2b123;
}
